
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Patlom</title>
  </head>
  <body>

    <div class="nav">
        <a class="icon" href="">Patlom</a>
    </div>

    <div class="thumbnail">
      <h1>Software Engineer</h1>
    </div>


  </body>

  <style media="screen">



    .nav {
      padding: 30px 30px 30px 30px;

        background-color: white;
    }
     .icon{
      font-size: 200%;
      margin-left: 10%;
    }

    .thumbnail {
      text-align: center;
      padding: 15%;
      font-size: 300%;
      margin-left: -10px;
      margin-right: -10px;
      background-color: #00e055;
    }
    .thumbnail h1{
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
    }

  </style>


</html>
